* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.app {
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-family: "Montserrat", sans-serif;
}

.time-select {
  height: 80%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  flex: 1;
} 

.player-container {
  height: 80%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  flex: 1;
}

button.play,
button.replay, 
button.time-display,
button.short-mins,
button.medium-mins,
button.long-mins {
  color: white;
  width: 30%;
  height: 10%;
  background: none;
  font-size: 20px;
  border-radius: 5px;
  transition: all 0.5s ease;
  border: none;
  outline: none;
  border: none;
  height: 120px;
  width: 120px;
  padding: 20px;
  outline: none;
  font-family: "Montserrat", sans-serif;
}

button.time-display {
    font-size: 42px;
    padding: 0
}

button.play,
button.replay,
button.short-mins,
button.medium-mins,
button.long-mins {
    cursor: pointer}


button:hover.play,
button:hover.replay,
button:hover.short-mins,
button:hover.medium-mins,
button:hover.long-mins{
  color: black;
  border: none;
  outline: none;
}

.sound-picker {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  height: 80%;
  flex: 1;
}

.sound-picker button {
  color: white;
  background: none;
  font-size: 20px;
  cursor: pointer;
  border: none;
  height: 100px;
  width: 100px;
  padding: 30px;
  border-radius: 50%;
  margin: auto;
  outline: none;
  
}

.sound-picker button img {
  display: block;
  height: auto;
  width: 100%;
  margin: auto;
}
.sound-picker button:nth-child(1) {
  background: rgb(119,136,153,0.2);
}
.sound-picker button:nth-child(2) {
  background: rgb(119,136,153,0.2);
}
.sound-picker button:nth-child(3) {
  background: rgb(119,136,153,0.2);
}

video {
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  z-index: -10;
}